<div class="mdl-layout mdl-js-layout">
  <div class="mdl-layout__content">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet">
        <div class="sign-in">
          <h5 class="mdl-color-text--orange mdl-typography--text-center line"><i class="material-icons">dashboard</i><br> Hacista</h5>
          <div class="line"></div>

          <div class="form-card mdl-card mdl-shadow--2dp mdl-color-text--black form-card">
            <div class="social-auth mdl-shadow--8dp mdl-color--accent">
              <h5 class="mdl-typography--text-center">Sign In</h5>
              <i class="fa fa-facebook-official fa-lg" aria-hidden="true" title="facebook"></i>
              <i class="fa fa-twitter fa-lg" aria-hidden="true" title="twitter"></i>
              <i class="fa fa-google-plus fa-lg" aria-hidden="true" title="google +"></i>
            </div>

            <form id="sign-in">
              <p class="mdl-typography--text-center"> Or Be Classical</p>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="text" class="mdl-textfield__input" name="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" id="email">
                <label for="email" class="mdl-textfield__label">Email</label>
                <span class="mdl-textfield__error">Email is invalid!</span>
              </div>

              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="password" class="mdl-textfield__input" name="password" pattern="^[a-zA-Z0-9 ]{3,}" id="password">
                <label for="password" class="mdl-textfield__label">Password</label>
                <span class="mdl-textfield__error">Valid password is required</span>
              </div>

              <input type="submit" value="Sign in" class="btn mdl-button mdl-js-button mdl-button--accent" />
            </form>

          </div>
          <p class="account-opt">
            Don't have an account? <a class="signup mdl-navigation__link mdl-color-text--white" href="/">Sign up</a>
          </p>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet">
      </div>
    </div>
  </div>
</div>
